<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet">
    </head>

    <body>
        <fieldset>
            <legend>Student Form</legend>
           
            <form action="/add" method="POST">
                <p>
                    <label for="Name">Name </label>
                    <input type="text" name="studentName" required/>
                </p>
                <p>
                
                <label for="email">Email </label>
                    <input type="text" name="email" required/>
                    </p>
                    
                    <p>&nbsp;</p>
                <p>
                    <input type="submit" name="Submit" id="Submit" value="Submit">
                </p>
            </form><br><br>
            
            <a href="/"> Go Back to Home </a>
        </fieldset>
    </body>
</html>
